/*フォント*/
@font-face {
  font-family: 'Galarfont_1';
  src: url('../Galarfont_1-Regular.ttf');
}
.galar {
  font-family: "Galarfont_1" !important;
  font-size: 40px;
  margin: 0 auto;
}
/*ソート*/
th.sorted.desc::after{
    display: inline-block;
    content: '▼';
}
th.sorted.asc::after{
    display: inline-block;
    content: '▲';
}

html, body, a, ul, li, table, img {
	margin: 0 auto;
	padding: 0;
}

html {
	text-align: center;
	font-family: sans-serif, monospace, 'メイリオ', '游ゴシック';
}


h1 {margin-bottom: 8px }
p {padding-bottom: 8px; }

.comment {
	margin-top: 15px;
	margin-bottom: 15px;
}
.comment p {
	padding: 0;
	margin: 0;
}

.searches {
	width: 90%;
	margin: 40px auto 10px;
	display: flex;
	justify-content: start;
}
.searches .search {
	margin-right: 10px;
}

table {
	margin: 10px auto; 
	text-align: center;
	width: 90%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 11pt;
}

table th {
	user-select: none;
	text-align: center;
	font-weight: bold;
	padding: 6px 5px;
	border: 1px #666666 solid;
	background: #99ccff;
	white-space: nowrap;
}

table td {
	text-align: center;
	padding: 6px 5px;
	border: 1px #666666 solid;
	white-space:pre;
	/*white-space: nowrap;*/
	font-size: 11px;
}

table tr {
	background-color: #efd;
}
table tr:nth-child(odd) {
	background-color: #fff;
}

table .galar {
	text-align: center;
	padding: 6px 5px;
	/*border: 1px #666666 solid;*/
	white-space: nowrap;
	font-size: 20px;
	font-weight: bold;
}

table tbody img {
	width: 500px;
}
table tr td:first-child {
	width: 530px;
}


/*フッター*/
footer {
	color: white;
	margin-top: 40px;
	bottom: 0;
	/*position: sticky;*/
	display: block;
	background-color: #027DC3;
}
footer div a {
	color: white;
}
