<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@Damo_drums" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="シンオウ文字データベース" />
		<meta property="og:description" content="【ダイパリメイク】シンオウ地方で確認された文字のまとめ" />
		<meta property="og:url" content="https://dammyyy.github.io/SinnohAlphabet/" />
		<meta property="og:site_name" content="シンオウ文字データベース" />
		<meta property="og:image" content="./imgs/twitter_card.jpg" />
		<title>シンオウ文字データベース</title>
		<link rel="stylesheet"href="./css/style.css">
		<link rel="stylesheet"href="./css/jquery.fancybox.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-213968263-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-213968263-1');
		</script>

	</head>
	<body>

	<div>
		<div>
			<h1 class="title">シンオウ文字データベース<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="シンオウ文字">ツイート</a>
				<script>
					! function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0],
							p = /^http:/.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + '://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, 'script', 'twitter-wjs');
				</script>
			</h1>
		</div>
		<div class="alphabet">
			<p><span class="Sinnoh"></span></p>
		</div>

		<div class="comment">
			<p>シンオウ地方で発見した文字を表にしました。</p>
			<p>情報などコメントが御座いましたら<a href="https://twitter.com/Damo_drums">Twitter</a>まで</p>
		</div>


		<div id="app">
<!-- 
			<div class="searches">
 		    <div class="search">
					<span>検索：</span>
					<input type="text" v-model="searchSinnoh" placeholder="Search">
		    </div>
		    <div class="reset">
					<span><button @click="resetting()">リセット</button></span>
		    </div>
			</div>
 -->
 			<div>
				<table>
					<thead>
						<tr>
							<!-- <th @click="sortBy('Id')" :class="sortedClass('Id')"></th> -->
							<th @click="sortBy('Image')" :class="sortedClass('Image')">SS</th>
							<th @click="sortBy('Sinnoh')" :class="sortedClass('Sinnoh')">シンオウ文字<br>補足</th>
							<!-- <th @click="sortBy('Comment')" :class="sortedClass('Comment')">コメント</th> -->
							<!-- <th @click="sortBy('Type')" :class="sortedClass('Type')">分類</th> -->
						</tr>
					</thead>

					<tbody>
						<tr v-for="row in eventedAction">
							<!-- <td>{{row.Id}}</td> -->
							<td>
								<a data-fancybox="gallery" :href="row.Image" :data-caption="row.Alt">
									<img :src="row.Image" :alt="row.Alt">
								</a>
							</td>
							<td>
								<p class="sinnoh">{{row.Sinnoh}}</p>
								<p class="text">{{row.Alt}}<br>{{row.Text}}</p>
							</td>
							<!-- <td>{{row.Comment}}</td> -->
							<!-- <td>{{row.Type}}</td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		</div>
			<div class="comment">
				<h2>著作権について</h2>
				<ul>
					<li>このページでは、株式会社ゲームフリークを代表とする<br>共同著作者が権利を所有する画像を利用しております。</li>
					<li>当該画像の転載・配布は禁止いたします。</li>
					<li>その他、掲載している画像・台詞は、著作権法第32条に基づく引用であり、<br>著作権は作者及び出版社にあります。</li>
					<li>また、自作フォントにつきましても、転載・配布は禁止いたします。</li>
					<li>本フォントにより生じた損害に関しては責任を負いません。</li>
				</ul>
			</div>

		<footer>
			<div>Copyright(c) ダモ ：<a href="https://twitter.com/Damo_drums">@Damo_drums</a></div>
		</footer>
		<script src="./js/jquery.fancybox.js"></script>
	</body>
	<script src="./js/index.js"></script>

</html>

